<!doctype html>
<html lang="en">
<head>
  <!-- base stylesheets -->
  <%- include ../partials/styles %>

  <!-- custom stylesheets -->
  <link rel="stylesheet" href="/css/page_enrollment_index.css">

</head>
<body>

  <% if (user==="manual") { %>
    <%- include ../partials/enrollment_nav %>
    <%- include ../partials/enrollment_headerbar %>
  <% } else { %>
    <%- include ../partials/enrollment_nav_auto %>
    <%- include ../partials/enrollment_headerbar_auto %>
  <% } %>

  <!-- Your Content -->
  <div id="content">

    <div class="table-buttons-wrapper">
      <div class="row">
        <div class="col-sm-12 col-md-9 col-xs-12 text-center">
          <input type="button" class="table-btn" id="newdata" value="New Data">
          <input type="button" class="table-btn" id="search" value="Search">
        </div>
        <div class="col-sm-0 col-md-3 col-xs-0 text-center">
        </div>
      </div>
    </div>

    <!-- info -->
    <section class="main-content">

      <div class="container-fluid main-content-container">
        <div class='row'>
          <div class="col-sm-12 col-md-9 col-xs-12 text-center">
            <h3>Scheduled Enrollment Data Runs:</h3>
            <h4>05:00:00 AM</h4>
            <h4>12:00:00 PM</h4>
            <h3 id="date" class="paddingdate"></h3>
            <div class="row">
              <div class="col-sm-2 col-md-2 col-xs-2 text-center"></div>
              <div class="col-sm-4 col-md-4 col-xs-4 text-center">
                <p>
                  Website Support:<br>
                  <a href="mailto:QAutomation@Omers.com?Subject=Issue&#58%20Enrollment%20Data%20Web%20App" target="_top">QAutomation@Omers.com</a>
                </p>
              </div>
              <div class="col-sm-4 col-md-4 col-xs-4 text-center">
                <p>Visit Our <a href="./help">Help Page</a><br>
                For a Detailed Documentation
                </p>

              </div>
              <div class="col-sm-2 col-md-2 col-xs-2 text-center"></div>
            </div>
          </div>

          <div class="hidden-sm col-md-3 hidden-xs text-center">


            <h5>Total Enrollments Created: </h5>
            <input type="text" class="borderlessshort" value="TST: 0" id="TSTcount" readonly></input>
            <input type="text" class="borderlessshort" value="OAT: 0" id="OATcount" readonly></input>
            <input type="text" class="borderlessshort" value="SIT2: 0" id="SIT2count" readonly></input>
            <h5>Enrollments Created Today: </h5>
            <input type="text" class="borderlessshort" value="TST: 0" id="TSTcounttoday" readonly></input>
            <input type="text" class="borderlessshort" value="OAT: 0"  id="OATcounttoday" readonly></input>
            <input type="text" class="borderlessshort" value="SIT2: 0"  id="SIT2counttoday" readonly></input>
            <br><br>
            <h5>Data Creation Champions: </h5>
            <textarea class="borderlesslong text-center" id="champ1" value="loading..." readonly></textarea><br>
            <textarea type="textarea" class="borderlesslong text-center" id="champ2" value="loading..." readonly></textarea>
            <textarea type="textarea" class="borderlesslong text-center" id="champ3" value="loading..." readonly></textarea>
            <br><br>

            <span class="ad">
            <h5>LEAP Automation Team</h5>
            <p>
              <div class="row">
                <div class="col-md-6 text-center">
                  Parasar Saha
                </div>
                <div class="col-md-6 text-center">
                  Chirag Kashyap
                </div>
                <div class="col-md-6 text-center">
                  Jannie Zheng
                </div>
                <div class="col-md-6 text-center">
                  Raluca Mihaileanu
                </div>
                <div class="col-md-6 text-center">
                  Josh Sun
                </div>
                <div class="col-md-6 text-center">
                  Boyan Gong
                </div>
              </div>
            </p>
          </div>

          <div class="hidden-sm col-md-2 hidden-xs">

          </div>

        </div>
      </div>





    </section>
  </div>

  <script>
    var user = <%- JSON.stringify(user) %>;
  </script>

  <!-- vendor scripts -->
  <%- include ../partials/scripts %>

  <!-- custom scripts -->
  <script type="text/javascript" src="/js/page_enrollment_index.js"></script>
</body>
<html>
