<!doctype html>
<html lang="en">
<head>
  <!-- base stylesheets -->
  <%- include ../partials/styles %>

  <!-- custom stylesheets -->
  <link rel="stylesheet" href="/css/index.css">

</head>
<body>

  <% if (user==="manual") { %>
    <%- include ../partials/index_nav %>
    <%- include ../partials/index_headerbar %>
  <% } %>

  <!-- Your Content -->
  <div id="content">
    <% if (page==="main") { %>
      <%- include ../partials/main_index_content %>
    <% } else if (page==="enrollment") { %>
      <%- include ../partials/enrollment_index_content %>
    <% } else { %>
      <%- include ../partials/event_index_content %>
    <% } %>
  </div>

  <script>
    var user = <%- JSON.stringify(user) %>;
  </script>

  <!-- vendor scripts -->
  <%- include ../partials/scripts %>

  <!-- custom scripts -->
  <script type="text/javascript" src="/js/index.js"></script>
</body>
<html>
