<!doctype html>
<html lang="en">
<head>
  <%- include('../partials/meta', {page: page}); %>
  <!-- base stylesheets -->
  <%- include('../partials/common_css'); %>

  <!-- module stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css">

  <!-- page stylesheets -->
  <link type="text/css" rel="stylesheet" href="/css/IDModal.css" />


</head>
<body>

  <%- include('../partials/left_nav', {page: page}); %>
  <%- include('../partials/top_nav', {page: page}); %>
  <div id="content">
    <div class="lock" hidden></div>



    <section class="main-content">

      <div id="jsGrid"></div>

      <div class='table-container' hidden>
        <p>Enrollment</p>
        <div id="step0-table" class='table' ></div>


        <p>Source Data</p>
        <div id="step1-table" class='table'></div>


        <p>Event Reporting</p>
        <div id="step2-table" class='table'></div>

        <p>Event Election</p>
        <div id="step3-table" class='table'></div>
      </div>

      <div class="table-buttons-wrapper">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-xs-12 text-center">
            <input type="button" class="home table-btn" id="home" value="Home" onclick = "window.location.href = './'">
            <input type="button" class="home table-btn" id="back" value="Back" onclick = "window.location.href = '/event/search'" hidden>
          </div>
        </div>
      </div>
    </section>

  </div>

  <script>
    var user = <%- JSON.stringify(user) %>;
    var page = <%- JSON.stringify(page) %>;
  </script>

  <!-- base scripts -->
  <%- include('../partials/common_scripts'); %>

  <!-- modules scripts -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/vendor/nav.js"></script>

  <!-- page Javascript -->
  <script type="text/javascript" src='/js/eventSearch.js'></script>

</body>
</html>
